WEB_API2_Consuming_WCF/Connected Services/ServiceReference1/Service11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/ws/2005/02/mex/bindings" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://schemas.microsoft.com/ws/2005/02/mex/bindings" location="http://localhost:60157/Service1.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60157/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60157/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60157/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wcf_Bext_Sample" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetDep_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDep" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDep_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertDep_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertDep" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertDep_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertDepResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateDep_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDep" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateDep_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDepResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteDep_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDep" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteDep_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDepResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetDep">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDep" message="tns:IService1_GetDep_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDepResponse" message="tns:IService1_GetDep_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertDep">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertDep" message="tns:IService1_InsertDep_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertDepResponse" message="tns:IService1_InsertDep_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDep">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateDep" message="tns:IService1_UpdateDep_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateDepResponse" message="tns:IService1_UpdateDep_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDep">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteDep" message="tns:IService1_DeleteDep_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteDepResponse" message="tns:IService1_DeleteDep_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Service1">
    <wsdl:port name="MetadataExchangeHttpBinding_IService1" binding="i0:MetadataExchangeHttpBinding_IService1">
      <soap12:address location="http://localhost:60157/Service1.svc/soap" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:60157/Service1.svc/soap</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>